div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Welcome!
    p.lead This is the web app of rentobox
    img(src='common/assets/images/rentobox.jpg', alt='', width=150, height=150)

.container
  .row
    .col-lg-12
      h1.page-header Rentobox Showcase